@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  background-color: #F4F5FA;
}


@media screen and (max-width: 1024px) {
  .fc .fc-header-toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* .fc .fc-button-primary {
  background-color: rgb(168, 85, 247);
  color: rgb(55, 65, 81);
} */
